h1{
text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 50px
}
p{
    font-family: 'Slabo 27px', serif;
    font-size: 27px
}
a:link{
  font-family: 'Slabo 27px', serif;
  font-size: 25px;
  color: red
}
table, tr, td{
  padding: 30px;
  border: 20px;
}
